Please see `/README.md` for a general overview of the project and its main structure. Please keep this up to date as the project evolves.

Please see the `/instructions` directory for files that help with using particular libraries or tools. You should check this directly continuity for additional context with what you are working on.