Please see `/README.md` for a general overview of the project and its main structure. Please keep this up to date as the project evolves.

Please see the `/instructions` directory for specific information on how to use a given tool or library. For example if you are asked to do some work that would involve using Convex then check `/instructions/convex_instructions.md` for some specific information on that. You may also consult the @Docs for more information on a given topic.
